<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{nomePag}}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            background-color: #d3d3d3;
        }
        .capa-respostas {
            background-image: url('/static/img/capa.png');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            height: 200px;
            width: 100%;
        }
        .navbar-brand {
            color: #fff;
            font-size: 2rem;
            padding: 1rem;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-md bg-body-tertiary capa-respostas">
        <a class="navbar-brand" href="#"></a>
    </nav>

    <div class="container-fluid py-5">
        <div class="text-center mt-1">
            <h1>{{nomePag}}</h1>

            <p>Os benefícios de usar o Framework é a facilidade nos desenvolvimento do projeto mais complexos, ajuda na organização e eficiência:</p>
            <ul>
                <li><strong>Produtividade Aumentada:</strong> Frameworks fornecem uma base estruturada e um conjunto de ferramentas e bibliotecas que aceleram o processo de desenvolvimento. Isso reduz a necessidade de escrever código do zero e permite que você se concentre em construir funcionalidades específicas.</li>

                <li><strong>Organização e Estrutura:</strong> Frameworks impõem uma arquitetura e padrões de codificação que ajudam a manter o código organizado e consistente. Isso facilita a manutenção e a escalabilidade do projeto.</li>
                <li><strong>Segurança:</strong> Muitos frameworks oferecem funcionalidades de segurança integradas, como proteção contra ataques comuns (SQL Injection, Cross-Site Scripting), autenticação e autorização, o que ajuda a criar aplicações mais seguras.</li>
                <li><strong>Manutenibilidade:</strong> Com uma estrutura bem definida e práticas recomendadas, é mais fácil atualizar e modificar o código à medida que o projeto evolui. Isso facilita a colaboração entre desenvolvedores e a manutenção do software a longo prazo.</li>
                <li><strong>Suporte e Comunidade:</strong> Frameworks populares possuem uma grande comunidade e uma vasta documentação, oferecendo suporte e recursos adicionais, como plugins e extensões. Isso pode resolver problemas comuns e ajudar a aprender boas práticas.</li>
                <li><strong>Reutilização de Código:</strong> Frameworks promovem a reutilização de código através de componentes e bibliotecas prontas. Isso economiza tempo e esforço, evitando a reinvenção da roda.</li>
                <li><strong>Facilidade de Integração:</strong> Frameworks geralmente oferecem suporte para integração com outras tecnologias e serviços, como APIs externas, bancos de dados, e sistemas de autenticação, simplificando a construção de aplicações complexas.</li>
                <li><strong>Boas Práticas Incorporadas:</strong> Muitos frameworks seguem boas práticas e padrões de design, como MVC (Model-View-Controller), que ajudam a criar um código mais limpo e modular.</li>
            </ul>
            
        </div>
    </div>





    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>